# Database URL for Sequelize (combines all DB settings above)
DB=postgres://your_username:your_password@localhost:5432/your_database_name

# JWT Configuration
SECRET_ACCESS_TOKEN=SECRET_ACCESS_TOKEN
SECRET_REFRESH_TOKEN=SECRET_REFRESH_TOKEN

# Server Configuration
PORT=3000

# Client Configuration
CLIENT_URL=http://localhost:5173
